@import './intro.css';
@tailwind components;

@layer components {
	.box-grid-header {
		@apply bg-customPink1 mt-20
		w-44 sm:w-[19rem] md:w-[21rem] lg:w-52 xl:w-64 2xl:w-[22rem]
		h-20 sm:h-32 md:h-36 lg:h-24 xl:h-28 2xl:h-40
		rotate-[5deg] skew-x-[20deg] shadow-md shadow-blue-950;
	}

	/* PROJECTS text screen setting*/
	.box-grid-header h2 {
		@apply text-4xl sm:text-6xl md:text-6xl lg:text-4xl xl:text-5xl 2xl:text-7xl
		w-fit

		rotate-[-5deg] skew-x-[-20deg] translate-x-[1.5rem] translate-y-[-0.8rem]

		sm:rotate-[-5deg] sm:skew-x-[-20deg] sm:translate-x-[2.8rem] sm:translate-y-[0rem]

		md:rotate-[-5deg] md:skew-x-[-20deg] md:translate-x-[3.7rem] md:translate-y-[0.5rem]

		lg:rotate-[-5deg] lg:skew-x-[-20deg] lg:translate-x-[2.5rem] lg:translate-y-[-0.4rem]

		xl:rotate-[-5deg] xl:skew-x-[-20deg] xl:translate-x-[2.5rem] xl:translate-y-[-0.1rem]

		2xl:rotate-[-5deg] 2xl:skew-x-[-20deg] 2xl:translate-x-[2.8rem] 2xl:translate-y-[0.7rem]
		drop-shadow-lg;
	}
}

@layer components {
	.box-grid-portfolio {
		@apply w-10/12 md:w-11/12 lg:w-98pros xl:w-7/12
		h-fit md:h-fit xl:h-72 2xl:h-fit
		mt-5
		p-4 md:p-5 xl:p-7 2xl:p-14
		box-grid-portfolio-bg
		shadow-md
		shadow-customPink2;
	}
	.box-grid-portfolio h4 {
		@apply text-2xl md:text-4xl lg:text-3xl 2xl:text-3xl text-customPink1 font-mulish font-bold drop-shadow-sm;
	}
	.box-grid-portfolio-tags {
		@apply rounded-lg h-fit w-fit px-2 bg-darkPurple p-1 text-almostMagenta text-[8px] lg:text-[9px] 2xl:text-xs;
	}
	.box-grid-portfolio button {
		@apply h-fit lg:h-7 xl:h-8 2xl:h-10
		w-fit lg:w-fit
		px-3 py-2
		mt-2 lg:mt-auto
		mb-1
		text-xs lg:text-sm
		bg-darkPurple text-customPink1 shadow-sm shadow-almostMagenta;
	}
	.box-grid-portfolio p {
		@apply text-customPink1
		text-sm sm:text-base md:text-base	lg:text-sm 2xl:text-lg
		md:my-6
		mt-5
		mb-2
		font-mulish;
	}
}

/* ↓↓↓↓↓ easier to leave these in css for now... ↓↓↓↓↓ */
.box-grid-header:before {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	content: '';
	background-image: linear-gradient(-45deg, #3a0547, #e6246e 50%);
	transform: rotate(-2.5deg) translateX(0rem) translateY(0.5rem) skewX(-30deg)
		skewY(-9deg);
	box-shadow: 1px 2px 5px 0px #fb2576;
}

/* PROJECTS text's background. the one below is for the white parallelogram */

/* styling for portfolio grids */
/* linear gradient bg */
.box-grid-portfolio-bg {
	background-size: 100% 100%;
	background-image: linear-gradient(-45deg, #150050 2%, #fb2576);
}

.bg-display-cat {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../components/cat-keyboard.jpeg');
}
